*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%;
    min-width:200px;
    scroll-snap-type:y mandatory;
}

section{
    scroll-snap-align: start;
}
.navbar{
    display: fixed;
    position: relative;
    margin:0 auto;
    padding: 15px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #0c2e28;
    background: rgb(12,46,40);
    background: linear-gradient(0deg, rgba(12,46,40,1) 0%, rgba(0,0,0,1) 100%);
    
}

.nav-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    float: right;
}

.nav-items li{
    list-style: none;
    flex-wrap: wrap;
    margin-right: 20px;
    font-size: 30px;
}

.nav-item a{
    text-decoration: none;
    color: antiquewhite; 
}

.introduction-section{
    width: 100%;
    margin: 0 auto;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    height: 90vh;
    padding: 40px;
    color:  #061714;
    background-color: #6caca0;
    background: rgb(108,172,160);
    background: linear-gradient(0deg, rgba(108,172,160,1) 0%, rgba(12,46,40,1) 100%);
    
}

.about h3{
    font-size: 30px;
    margin-bottom: 12px;
}

.about h1{
    color: antiquewhite;
    font-size: 50px;
    margin-bottom: 12px;
}

.about p{
    font-size: 20px;
}

/* .about h1,h3,p{
    display: inline;
    width: auto;
} */
/* h1, h3,p utna hi space occupy kre jitna bada uska text h but on next line*/

.projects-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    background-color: #0c2e28;
}

.project-heading{
    padding: 20px;
    color: antiquewhite;
    font-size: 50px;
    text-shadow: black 6px 4px 8px;
}

.projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    background-color: #0c2e28;
}


.project-card{
    width: 500px;
    height: 400px;
    margin: 15px;
    /* padding: 10px; */
    border-right:solid 1px black;
    border-bottom: solid 1px black;
   text-align: center;
   font-size: 30px;
   text-decoration: none;
   border-radius: 10px;
   box-shadow:10px 20px 20px black ;
}

.project-card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-bottom: 3px #fff solid;
    border-radius: 10px;
}

.project-card p{
    margin-top: 10px;
    color: #fff;
    text-shadow: black 6px 4px 6px;
}

.profile-links{
    height: 100vh;
    width: 100%;
    background-color: #dcdddd;
    padding: 20px;
    margin: 0 auto;
}

.profile-links h2{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #0c2e28;
    text-shadow: #0c2e28 3px 1px 6px;
}

.profiles{
    display: grid;
    height: 80%;
}

.profile-left, .profile-right{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.profile-left a, .profile-right a{
    margin: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

hr{
    width: 70%;
    margin: auto;
    height: 1px;
    background-color: #0c2e28;
    border:none;
    filter: blur(0.8px);
}

.footer{
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: #0c2e28;
    color: antiquewhite;
}

.footer p{
    font-size: 20px;
    padding-top: 1em;
}
