@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    min-width:200px;
    scroll-snap-type:y mandatory;
    background-color: white;
    margin: 0;
}

html,body{
    overflow-x: hidden;
}

/* section{
    scroll-snap-align: start;
} */

h1{
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

h3{
    font-weight: 400;
}

.header{
    background-color: rgb(248, 228, 195);
    border-bottom: rgb(238, 165, 93) solid 2px;
    height: 100vh;
}

.navbar{
    display: flex;
    position: fixed;
    margin:0 auto;
    /* padding: 15px; */
    width: 100%;
    height: 60px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1000;
    background-color: rgb(248, 228, 195);
    border-bottom: rgb(238, 165, 93) solid 2px;
}

#my-name{
    display: flex;
    width: 20%;
    height: 100%;
    border-right:rgb(238, 165, 93) 2px solid;
    align-items:end;
    justify-content:start;
    padding-left: 10px;
    padding-bottom: 10px;
}

#my-name a{
    /* color: rgb(233, 147, 61); */
    color: #000;
    text-decoration: none;
    font-size: 22px;
    float: left;
    font-family: 'Dancing Script';
    font-weight: 800;
}

.nav-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-right:rgb(238, 165, 93) 2px solid;
    width: 80%;
    align-items: end;
    justify-content: end;
    padding-bottom: 10px;
}

.nav-item{
    display: flex;
    position: relative;
    list-style: none;
    flex-wrap: wrap;
    margin-right: 20px;
    font-size: 21px;
    font-weight: 100;
}

#my-name a:hover, .nav-item a:hover{
    color:rgb(238, 165, 93); ;
}

.nav-item a{
    text-decoration: none;
    color: #000;
}

.nav-contacts{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.nav-contacts a{
    text-decoration: none;
    color: rgb(238, 165, 93);
    margin-left: 20px;
}

.nav-contacts a:hover{
    color: black;
}

.hero-page{
    display: flex;
    position: relative;
    margin: 0 auto; 
    padding-top: 60px;   
    align-items: center;
    max-width: 100%;
    height: 100%;
}

.hero-left{
    display:flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    position: relative;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    padding:0 30px;
    flex: 1;
}

.hero-page h1{
    text-align-last: left;
    text-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.hero-left p{
    text-wrap: wrap;
    margin-bottom: 1.2rem; 
    font-size: 16px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.hero-left h3{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-bottom: 4px;
}

.my-resume{
    text-decoration: none;
    color: black;
    padding: 10px;
    width: fit-content;
    border:  rgb(238, 165, 93) 2px solid;
}

.my-resume:hover{
    background-color:rgb(238, 165, 93);
}

.hire-me{
    margin-top: 20px; 
    margin-left: 10px;
    text-decoration: none;
    color: black;
    width: fit-content;
    background-color: rgb(248, 228, 195);
    border:  rgb(238, 165, 93) 2px solid;
    padding: 10px;
}

.hire-me:hover{
    background-color: rgb(238, 165, 93);
}

.hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 30px;
    height: 100%;
    border-left:rgb(238, 165, 93) 2px solid; 
}

.hero-right img{
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    max-width: 100%;
}

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    text-align: left;
    width: 100%;
    padding:0 20px;
    color:  black;
}

.about{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.about-left{
    margin-right: 20px;
    flex: 1;
}

.about-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 20px;
    /* align-items: center; */
    justify-content: center;
}

.about-left img{
    max-width: 100%;
    max-height: 100%;
    height: 400px;
}

.about p{
    font-size: 20px;
}

.projects-section{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px;
    background: linear-gradient(to bottom, #ffffff,rgb(248, 228, 195));
    border-bottom:  rgb(238, 165, 93) 2px solid;
}

.project-heading{
    padding: 0;
    color: black;
    margin-bottom: 15px;
}

.projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /* background-color: #0c2e28; */
}

.project{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    /* height: auto; */
    padding: 10px;
}

.project-card{
   width: 200px;
   max-height: 300px;
   margin: 15px;
   text-align: center;
   font-size: 30px;
   text-decoration: none;
   border-radius: 5px;
   box-shadow:0 5px 15px rgb(164, 164, 164);
   flex: 1;
   background: rgb(238, 165, 93);
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.project-card img{
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-bottom: 3px #fff solid;
    border-radius: 5px;
}

.project-card p{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    color: #000;
    font-size: 22px;
    margin-bottom: 10px;
}

.project-card p:hover{
    color: rgb(188, 94, 0);
}

.project-desc{
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    text-wrap:wrap;
    flex: 1;
    font-size: 20px;
    color: black;
    font-weight: 200;
    justify-content: center;
}

#more-projects{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#more-projects:hover{
    color: rgb(202, 103, 4);
}


.profiles{
    display: flex;
    height:auto;
    width: 100%;
}

.profile-links{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns:50% 50%;
}

.profile-links a{
    margin: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.profile-links a:hover{
    color: rgb(235, 146, 58);
}

.footer{
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
    background-color: rgb(248, 228, 195);
    border-top:rgb(238, 165, 93) 2px solid; 
}

.contact-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 30px;
}

.contact-section p{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    padding-left: 20px;
}

.contacts{
    display: flex;
    position: relative;
    text-align: left;   
}

.contacts a{
    text-decoration: none;
    color: black;
    padding: 0 18px;
}

.contacts a:hover{
    color: rgb(235, 146, 58);
}

.footer-p{
    font-size: 12px;
    margin-bottom: 2px;
}
